* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --fondo: #570477;
  --fondo-obscuro: rgba(0, 0, 0, 0.6);
  --separacion: gray;
  --color-letra: white;
  --borde-logo: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, 0 0 1.3rem #bc13fe;
  --borde-link: 0 1px 1px #570477;
  --borde-objeto: 0 0 0.5rem white;
}
body {
  background-color: var(--fondo);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* inicia interior header */
header {
  position: absolute;
  top: 25px;
  background-color: var(--fondo-obscuro);
  height: 7rem;
  width: 93%;
  max-width: 1020px;
}
header > div {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--separacion);
  height: 5rem;
}
header > div > h1 {
  padding-left: 5%;
  padding-top: 15px;
  font-weight: bold;
  font-size: 2.7rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--color-letra);
  text-shadow: var(--borde-logo);
  animation: flicker 2.5s infinite alternate;
}
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 30px #bc13fe,
      0 0 70px #bc13fe, 0 0 80px #bc13fe, inset 0 0 90px #bc13fe;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
header > div > span {
  width: 50%;
  height: 100%;
  margin-left: 20px;
}
header > div > span > p {
  color: var(--color-letra);
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  margin-top: 0px;
  margin-left: 60px;
}
/* inicia nav */
nav {
  display: flex;
  flex-direction: row;
  height: 30px;
  background-color: var(--fondo-obscuro);
}
nav > a {
  color: white;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
  font-weight: 900;
  padding-top: 0.5rem;
  padding-left: 1.9rem;
}

nav > a:hover {
  text-decoration: underline;
  text-shadow: var(--borde-link);
}
/* inicia tema obscuro */
.changefondo {
  height: 90%;
  width: 80px;
  border: 2px solid var(--separacion);
  background-color: var(--fondo-obscuro);
  margin-left: 15px;
  border-radius: 20px;
  margin-top: 2px;
}
.changefondo-on {
  display: none;
}
.changefondo-off {
  display: none;
}
.btn-changefondo {
  height: 100%;
  width: 25px;
  border-radius: 50%;
  background-color: white;
}
.changefondo:hover {
  cursor: pointer;
}
.btn-changefondo:hover {
  cursor: pointer;
  background-color: rgb(246, 242, 242);
}
/* termina tema obscuro */
/* termina nav */
/* termina header */

/* inicia minimenu */
#mini-menu {
  display: none;
  position: absolute;
  top: 15px;
  left: 10px;
  width: 55px;
  height: 42px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  border: 1px solid white;
  box-shadow: 0 0 0.5rem white, 0 0 0.2rem white;
  z-index: 1;
  border-radius: 10px;
  transition: all 0.3s ease;
}
#mini-menu:hover {
  width: 200px;
  height: 400px;
  cursor: pointer;
  box-shadow: none;
}
#mini-menu.cerrado {
  width: 55px;
  height: 42px;
}
#mini-menu:hover:not(.cerrado) {
  width: 200px;
  height: 400px;
  box-shadow: none;
}
.material-symbols-outlined {
  transform: scale(200%);
  padding-top: 5px;
  padding-left: 10px;
}
#cerrar-minimenu {
  width: 2.1rem;
  height: 2.1rem;
  background-color: var(--fondo-obscuro);
  color: var(--color-letra);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.1rem;
  cursor: pointer;
  border: 3px solid gray;
  border-radius: 100%;
  position: absolute;
  right: 30px;
  top: 20px;
}
#cerrar-minimenu:hover {
  box-shadow: 0 0 0.5rem white;
  border: 3px solid white;
  background-color: black;
}
/* inicia interior header minimenu */
.filtro-minimenu {
  display: block;
  width: 100%;
  height: 70px;
  text-align: center;
  margin: 0;
}
.filtro-minimenu > p {
  font-size: 35px;
}
/* termina interior header minimenu */
/* inicia nav minimenu */
.menu-minimenu {
  width: 100%;
  display: block;
  margin: 0px;
  margin-top: 20px;
}
.menu-minimenu > a {
  color: white;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  padding-top: 0.5rem;
  padding-left: 1.9rem;
}

.menu-minimenu > a:hover {
  text-decoration: underline;
  text-shadow: var(--borde-link);
}
/* termina nav minimenu */
/* termina minimenu */
main {
  display: none;
  justify-content: center;
  align-items: center;
  max-width: 1020px;
  width: 93%;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 100%;
  background-color: var(--fondo-obscuro);
  box-shadow: 0 0 0.8rem #bc13fe, 0 0 0.2rem #fff, 0 0 0.2rem #fff,
    0 0 0.8rem #bc13fe;
}

#contenedor-series {
  width: 90%;
  margin-top: 150px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  place-items: center;
  align-items: center;

  margin-left: 5%;
}
.series-html {
  width: 100%;
  height: 100%;
  background-color: black;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}
.series-html:hover {
  box-shadow: 0 0 0.8rem white, 0 0 0.5rem white;
  transform: scale(105%);
  border: 2px solid white;
}
/* inicia reproductor */
#ventana {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--fondo-obscuro);
  width: 100%;
  height: 100%;
  margin: 0;
  padding-bottom: 25px;
}
#resumen {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.titulo-resumen {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: var(--color-letra);
}
.img-resumen {
  float: right;
  width: 11rem;
  height: 15rem;
  margin: 15px;
  margin-top: 0;
  margin-bottom: 0;
}
.p-resumen {
  color: var(--color-letra);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
  font-weight: 900;
  font-size: 18px;
  text-align: justify;
  margin: 10px;
}
#label-temp {
  color: var(--color-letra);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
  font-weight: 900;
  font-size: 18px;
}
#select-temp {
  width: 80%;
  margin-left: 10%;
  background-color: black;
  color: var(--color-letra);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
}
.capitulo-btn {
  width: 80%;
  height: 30px;
  color: var(--color-letra);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: 900;
  background-color: rgb(20, 20, 20);
  cursor: pointer;
  transition: 1s;
}
.capitulo-btn:hover {
  border: 1px solid white;
}
#cerrar {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--fondo-obscuro);
  color: var(--color-letra);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.1rem;
  cursor: pointer;
  border: 3px solid gray;
  border-radius: 100%;
  position: absolute;
  right: 30px;
  top: 20px;
}
#cerrar:hover {
  box-shadow: 0 0 0.5rem white;
  border: 3px solid white;
  background-color: black;
}
#video {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 150%;
  margin: 0;
  left: 0;
  top: 0;
  overflow: hidden;
}
#video > iframe {
  box-shadow: 0 0 0.5rem white;
  margin-top: -300px;
  width: 560px;
  height: 315px;
}
#cerrar-video {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--fondo-obscuro);
  color: var(--color-letra);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.1rem;
  cursor: pointer;
  border: 3px solid gray;
  border-radius: 100%;
  position: absolute;
  right: 30px;
  top: 20px;
}
#cerrar-video:hover {
  box-shadow: 0 0 0.5rem white;
  border: 3px solid white;
  background-color: black;
}
/* termina reproductor */
/* inicia login */
#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1020px;
  width: 93%;
  height: 100vh;
  z-index: 2;
  background: linear-gradient(to right, #180120 0%, #310542 51%, #180120 100%);
  box-shadow: 0 0 0.8rem #bc13fe, 0 0 0.2rem #fff, 0 0 0.2rem #fff,
    0 0 0.8rem #bc13fe;
}
#login-separacion {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  border-radius: 20px;
  padding: 80px;
  background-color: var(--fondo-obscuro);
  margin: 0 15px;
}
#login-titulo {
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--color-letra);
  text-shadow: var(--borde-logo);
  animation: flicker 2.5s infinite alternate;
}
#login-frase {
  margin-top: 20px;
  color: var(--color-letra);
  font-family: "Indie Flower", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
#login-input {
  margin-top: 20px;
  width: 170px;
  height: 30px;
  font-size: 1rem;
  text-align: center;
  background-color: black;
  color: var(--color-letra);
}
#login-button {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--fondo-obscuro);
  color: var(--color-letra);
  border-radius: 10px;
}
/* termina login */
@media (max-width: 560px) {
  header {
    width: 340px;
    height: 5rem;
  }
  header > div > span {
    border: none;
  }
  header > div > span > p {
    margin-left: -30px;
  }
  header > div > h1 {
    font-size: 2.2rem;
    margin-left: 80px;
  }
  #mini-menu {
    display: block;
  }
  #cerrar-minimenu {
    top: 5px;
    left: 150px;
  }
  .changefondo {
    margin-top: 20px;
    margin-left: 50px;
    height: 30px;
  }

  header > div > span {
    display: none;
  }
  nav {
    display: none;
  }
  main {
    width: 340px;
  }
  #contenedor-series {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin-top: 100px;
  }
  .series-html {
    width: 100%;
    height: 100%;
  }
  #video > iframe {
    width: 309px;
    height: 230px;
  }
  .p-resumen {
    margin-left: 4%;
    margin-right: 4%;
    font-size: 0.65em;
  }
  #cerrar {
    top: 25px;
    right: 30px;
  }
  #cerrar-video {
    top: 25px;
    right: 30px;
  }
  #login {
    width: 340px;
  }
  #login-separacion {
    padding: 18px;
    border: 3px solid black;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #login-titulo {
    font-size: 2.5rem;
    text-align: center;
  }
  #login-input {
    margin-left: 0;
  }
  #login-frase {
    font-size: 16px;
  }
}

@media (min-width: 950px) {
  header > div > span {
    margin-left: 50px;
  }
  header > div > span > p {
    font-size: 40px;
    margin-right: 150px;
    margin-left: 100px;
    margin-top: 0;

    margin-top: 0;
  }
  .btn-changefondo {
    width: 25px;
  }
  .changefondo-on {
    display: block;
    color: white;
    margin-left: 50px;
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 900;
  }
  .changefondo-off {
    display: block;
    color: white;
    margin-left: 10px;

    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 900;
  }
  #contenedor-series {
    grid-template-columns: repeat(4, 1fr);
    margin-left: 5%;
  }
  .series-html {
    width: 100%;
    height: 100%;
  }
  #ventana {
    width: 100%;
    height: 100%;
  }
  #video > iframe {
    width: 640px;
    height: 360px;
    margin-left: 0;
  }

  .p-resumen {
    margin-left: 10%;
    margin-right: 10%;
  }
  #cerrar {
    top: 40px;
    right: 200px;
  }
  #cerrar-video {
    top: 40px;
    right: 200px;
  }
}
